body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 174, 183);
    font-family:Caprasimo ;
  min-height: 100vh;
  
}
section{
    background-color: white;
    padding: 20px;
    box-shadow: 0 20px 20px rgba(208, 111, 111, 0.5);
    text-align: center;
    border-radius: 8px;
     max-width: 500px;
    width: 90%;
  
}
h1{
    
    color: rgb(198, 19, 48);
    text-align: center;
    font-size: 40px;
}
button{
    background-color: rgb(183, 97, 111);
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
      transition: background 0.3s ;
}
button:hover{
    background-color: rgb(211, 125, 139);
}
div{
    display: flex;
    flex-direction:column;
    background-color: rgb(223, 154, 165);
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 20px 20px rgba(208, 111, 111, 0.2);
   
}
#text{
    font-size: 20px;
    color: #1d1c1c;
    margin-bottom: 10px;
    text-align: center;
}
#author {
  font-size: 15px;
  font-style: italic;
  color: rgb(0, 0, 0);
  text-align: center;
}
